name: Check

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

permissions:
  checks: write
  pull-requests: write
  contents: read

jobs:
  check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: "npm"
      - run: npm ci

      - name: Run checks
        run: npm run check

      - name: Test Report
        if: always()
        uses: dorny/test-reporter@v2
        with:
          name: Test Results
          path: test-results/junit.xml
          reporter: jest-junit

      - name: Coverage Report
        if: always() && github.event_name == 'pull_request'
        uses: romeovs/lcov-reporter-action@v0.4.0
        with:
          lcov-file: coverage/lcov.info
          delete-old-comments: true

      - name: Upload Coverage Report
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: coverage-report
          path: coverage/lcov-report/
          retention-days: 14
